name: Release
on:
  push:
    tags: v*
permissions:
  contents: read
  id-token: write
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "npm"
          registry-url: 'https://registry.npmjs.org'
          scope: '@brightdata'
      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm audit signatures
      - run: npm publish